@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@1,700&family=Inter:wght@600;700&family=Poppins:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Section Title */
.section_title {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
}
.project_index {
  -webkit-text-fill-color: #151515;
  -webkit-text-stroke-width: 1px;
}
